.AccessControl {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 40px;
  font-size: max(2vw, 15px);
  z-index: 11;
  text-align: center;
}
