.KanBanBoard {
    display: block;
    text-align: left;
}

.BoardControls {
    margin-left: 10%;
    margin-top: 2vh;
    height: 50px;
    width: 80%;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 30px;
    margin-bottom: 1vh;
}

.BoardControls h1 {
    float: left;
    display: inline-block;
    margin: 0;
    margin-left: 5%
}

.AddTask {
    height: 80%;
    font-size: 20px;
    margin: 5px 1% 5px 0;
    padding: 0 8px 0 8px;
    opacity: 0.5;
}

.AddTask>svg {
    transform: translateY(7px);
}

.AddTask:hover {
    opacity: 1;
}

.DeleteIcon {
    float: right;
    height: 50%;
    margin: 5px 2% 5px 0;
    opacity: 0.5;
    padding: 8px
}

.DeleteIcon:hover {
    opacity: 1;
}

.AccessControlButton {
    float: right;
    height: 70%;
    margin: 5px 1% 5px 0;
    opacity: 0.5;
    padding: 0 7px 5px 8px;
    font-size: 20px;
}

.AccessControlButton>svg {
    transform: translateY(7px);
}

.AccessControlButton:hover{
    opacity: 1;
}

.LeaveButton {
    float: right;
    height: 80%;
    font-size: 20px;
    margin: 5px 2% 5px 0;
    padding: 0 8px 0 8px;
    opacity: 0.5;
}

.LeaveButton>svg {
    transform: translateY(7px);
}

.LeaveButton:hover {
    opacity: 1;
}