.KanBanColumn {
    width: max(300px, 19%);
    height: fit-content;
    min-height: 50vh;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    border: 1px solid #eee;
    display: inline-block;
    box-sizing: border-box;
    margin: 0.5vw;
    overflow: hidden;
    text-align: center;
}

.KanBanColumn h3 {
    background-color: white;
    font-size: 2vw;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin: 0;
    margin-bottom: 10px;
}

.TasksSection {
    height: 90%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2px;
    text-align: left;
}

.TasksSection::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}