.Toolbar {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: white;
  text-align: center;
}

.Toolbar h3 {
  box-sizing: border-box;
  float: left;
  max-width: 25%;
  padding: 1vw;
  font-size: 28px;
  text-overflow: ellipsis;
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Toolbar h3:hover {
  background-position: right center;
}

.ToolbarControls {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  text-align: center;
  padding: 1vw 0;
}

.BoardSelection {
  display: inline-block;
  margin: 1vw;
  height: 30px;
}

.BoardSelection label {
  margin-right: 10px;
}

.BoardSelection select {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid #d3d3d3;
  background-color: #eee;
}

.BoardSelection option {
  box-sizing: border-box;
  height: 30px;
  border: 1px solid #d3d3d3;
  background-color: #eee;
}

.BoardSelection option:hover {
  background-color: black;
}

#LoadBoardButton {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  background-color: #eee;
  margin-left: 5px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  color: #c850c0;
  transition: 0.5s;
}

#LoadBoardButton:hover {
  color: #fff;
  background-color: #c850c0;
}

.LogOutButton {
  float: right;
  height: 100%;
  max-width: 15%;
  display: inline-block;
  padding: 1.5vw 2.5vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border: 0;
}

.LogOutButton:hover {
  background: darkgrey;
  color: #fff;
  text-decoration: none;
}
