.App {
  text-align: center;
}

.General-btn {
  margin: 1em;
  padding: 1em 4em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5em;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border: none;
}

.General-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.Confirm-btn {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
}

.Cancel-btn {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
}

.Warning-btn {
  background-image: linear-gradient(
    to right,
    #ff8008 0%,
    #ffc837 51%,
    #ff8008 100%
  );
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}

.GeneralInput {
  box-sizing: border-box;
  width: 100%;
}

.GeneralInput input {
  font-size: 1em;
  line-height: 2.4rem;
  padding-left: 3%;
  vertical-align: middle;
  border: none;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
}

.GeneralInput input:focus {
  outline: none;
}

.GeneralInput label {
  margin-right: 0.5vw ;
  font-size: 1em;
  line-height: 2.4rem;
  vertical-align: middle;
}

.GeneralInput button {
  background-color: #efefef;
  border: none;
  border-radius: 0 2px 2px 0;
  color:  inherit;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: all .3s;
}

.GeneralInput button:hover {
  color: white;
  background-color: lightgray;
}

.GeneralInput button:focus {
outline: none;
}

button:focus {
  outline: none;
}

.Errors {
  width: 100%;
  background-color: rgba(250, 126, 112, 0.6);
  font-size: 0.7em;
}